#repair{
    
   .all-rep{
    text-align: center;
    margin-top: 20%;
    .head-text{
        h1{
            font-size: 36px;
            color: #000;
            font-weight: 400;
        }

    }
    .main-text{  
        margin-top: 100px;
            input{
                border: none;
                width: 440px;
                margin-left: 20px;
                margin-top: 20px;
                border-bottom: 1px solid #000;
                
               
            }
            a{
                padding: 5px 200px;
                background-color: $dark-blue;
                color: #fff;
                font-size: 22px;
                transition: .5s ease;
                border-radius: 6px;
                display: inline-block;
                margin-top: 30px;
                margin-left: 20px;
            }
    }
    @media(max-width:576px){
        .head-text{
            margin-top: 100px;
            h1{
                font-size: 26px;
            }
        }
        .main-text{
            
            input{
                width: 250px;
                margin-left: 0%;
                margin-right: 50px;
            }
            a{
                padding: 5px 100px;
                margin-left: 0%;
            }
        }
    }
   }
}